@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #435ebe;
  --secondary: #2D499D;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6f42c1;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "quicksand";
  src: url('/fonts/Quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url('/fonts/Nunito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:  "Open Sans";
  src: url('/fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.transition-ease-in-out{
  @apply transition-all duration-300 ease-in-out 
}
.transition-linear{
  @apply transition-all duration-300 ease-linear
}
.transition-ease-in{
  @apply transition-all duration-300 ease-in 
}
.transition-ease-out{
  @apply transition-all duration-300 ease-out 
} 

.btn-primary {
  @apply px-3 py-2 font-normal bg-white border rounded text-primary border-primary w-fit hover:text-white hover:bg-secondary transition-ease-in-out;
}

.btn-fill-primary {
  @apply px-3 py-2 font-normal text-white rounded bg-primary w-fit hover:bg-secondary transition-ease-in-out;
}
 
.swiper-pagination-bullet{
  @apply text-red-500
}

.swiper-pagination-bullet-active{
  @apply text-primary rounded-none
}

.swiper-pagination-line {
  @apply bg-white/80 opacity-75; /* Warna dan opasitas garis tidak aktif */
}
.swiper-pagination-line-active {
  @apply bg-white h-1; /* Warna dan ketebalan garis aktif */
}